body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Impede rolagem enquanto as asas estão abertas */
}

.asas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.asa {
    position: absolute;
    top: 0;
    width: 50%; /* 100% da largura da viewport */
    height: 100vh; /* 100% da altura da viewport */
    /*height: 100%;*/
   /* background-color: #333;  Cor das asas */
    transition: transform 1s ease; /* Animação de transição */
}

.esquerda {
    left: 0;
    transform: rotateZ(-45deg);
    left: -100%;
}

.direita {
    right: 0;
    transform: rotateZ(45deg);
}

.conteudo {
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: opacity 1s ease;

}

.script {
    display: flex;
    align-items: center;
}